/* add home page styles here */

.hidden {
    visibility: hidden;
   margin: 10px;
   font-family: 'Bebas Neue', cursive;
   font-size: 2rem;
   color: white;
}

.libs {
    color: red;
    font-size: 3rem;
}

main {
    display: flex;
    /* grid-template-columns: 1fr; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 100px;
    margin: 10px;
}

button {
    width: 200px;
    margin: 10px;
}

body {
    background-image: url("./enterprise.jpeg");
}

.patrickstewart {
    background-image: url("patrickstewart.jpeg");
    display: flex;
    background-size: 50% 50%;
    /* grid-template-columns: 1fr; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}